<!-- inicio breadcrumb -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="./">Home</a></li>
                    <li><a href="./">About Us</a></li>
                    <li>Why Choose HD</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="title color-two">
                    <h2>[#:firstTitle]</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin breadcrumb -->
<!-- inicio choose noticias -->
<section class="choose-area">
    <div class="container">
        [#:noticias]
    </div>
</section>
<!-- fin choose -->
<!-- inicio choose second title -->
<section class="medical-area bg-img bg-img-11" style="background-image: url([#:secondTitlePortada]);">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title-two color-one">
					<h2>[#:secondTitleTitle]</h2>
					[#:secondTitleCuerpo]
				</div>
			</div>
		</div>
	</div>
</section>
<!-- fin choose second title -->

<!-- section no encontrada en el admin -->
<section class="medical-area bg-img bg-img-3">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 text-center">
					<div class="title-two color-one">
						<h2><strong>Bringing</strong> state of the <strong>art medical services</strong> <br>
						for our patients and their families</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-4">
					<div class="item single-product">
						<img alt="" src="img/img-1.jpg" class="img-responsive">
						<div class="info">
							<p>The highest safety standards in our patient service.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item single-product">
						<img alt="" src="img/img-2.jpg" class="img-responsive">
						<div class="info">
							<p>We are the designated Hospital in case of need at the visit of foreigner dignitaries among them the King and Queen of Spain, Jeff Bush, Barack Obama and many others.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- inicio choose third and fourth and fifth title -->
    <section class="transportation-area">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-5">
					<div class="choose-title">
						<h2>[#:thirdTitleTitle]</h2>
						<p>[#:thirdTitleCuerpo]</p>
					</div>
				</div>
				<div class="col-md-5">
					<div class="insurance-name">
						<h2>[#:fourthTitleTitle]</h2>
						[#:fourthTitleCuerpo]
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
			    	<div class="customer-manager">
						<div class="row">
							<div class="col-md-8">
								<h2>[#:fifthTitleTitle]</h2>
								[#:fifthTitleCuerpo]
							</div>
							<div class="col-md-4">
								<div class="manager">
									<img alt="" src="[#:fifthTitlePortada]" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>