<section class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="./">Home</a></li>
						<li><a href="doctors">Doctors</a></li>
						<li>[#:doctorTitulo]</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="doctors-profile-area">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-3">
			    	<div class="doctor-info">
						<img class="img-responsive" src="[#:doctorImagen]" alt="">
						<a type="submit" class="hospital-btn doctor-btn" href="#">Read More</a>
						[#:doctorDescripcionMedia]
					</div>
				</div>
				<div class="col-md-5">
			    	<div class="about-doctor">
						<div class="doctor-name">
							<h2>[#:doctorTitulo]</h2>
							<h3>[#:doctorNombreMedia]</h3>
						</div>
                        [#:doctorCuerpo]
					</div>
				</div>
			</div>
		</div>
	</section>