	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="logo">
						<a href="index.html">
						<h1>[#:titulo]</h1>
							<img class="img-responsive" src="img/logo.png" alt="">
						</a>
					</div>
					<div class="responsive-menu-warp"></div>
				</div>
				<div class="col-md-9 text-right">
					<div class="row">
						<div class="col-md-12 header-top">
							<ul class="heder-contact">
								<li><i class="fa fa-phone"></i> 2505-5700 & 2506-2000</li>
								<li><i class="fa fa-envelope-o"></i> atencioncliente@hdiagnostico.com.sv</li>
							</ul>
							<div class="language">
								<ul>
									<li><a class="" href="#">es</a></li>
									<li><a class="active" href="#">in</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div class="mainmenu">
								<ul id="navigation">
									<li><a id="menu_home" class="limenu" href="./">Home</a></li>
									<li><a id="menu_aboutus" class="limenu" href="#">About Us</a>
										<ul>
											<li><a id="menu_choose" class="limenu" href="choose">Why Choose HD</a></li>
											<li><a id="menu_installations" class="limenu" href="installations">Installations</a></li>
											<li><a id="menu_doctors" class="limenu" href="doctors">Doctors</a></li>
										</ul>
									</li>
									<li><a id="menu_service" class="limenu" href="service">Service</a></li>
                                    <li>
                                        <a id="menu_planing" class="limenu" href="#">Panning your Visit</a>
                                        <ul>
                                            <li><a id="menu_patient" class="limenu" href="patient-process.html">HD Patient Process</a></li>
                                            <li><a id="menu_stay" class="limenu" href="stay.html">During your Stay</a></li>
                                            <li><a id="menu_faq" class="limenu" href="faq.html">FAQs</a></li>
                                        </ul>
                                    </li>
									<li><a id="menu_contact" class="contact limenu" href="contact.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>